@import '../../../scss/mixins';
@import '../../../scss/variables';

.header-cell {
  &.sortable {
    cursor: pointer;
    user-select: none;
  }

  span {
    display: inline-block;
    line-height: 2em;
    font-size: 18px;
    margin: 0 .25em;
    font-weight: 400;
    vertical-align: middle;
  }

}
