@import '../../../scss/mixins';
@import '../../../scss/variables';

.table-items-count {
  width: 100%;
  padding: 1em 0;
  margin-bottom: .5em;
  overflow: hidden;
  float: right;

  .text-element {
    float: right;
    font-size: .85em;
    color: $text-darker;

    .number-label-element {
      font-weight: 400;
      font-style: italic;
      color: $text-dark;
      margin-right: .35em;
    }

    .text-label-element {
      margin-right: .2em;
    }
  }

  &::after {
    clear: both;
  }
}
