@import '../../../../scss/mixins';

.simplified-message {
  @include shadow-with-hover;
  background-color: $section-bg-color;
  padding: 1.5em 10%;
  margin-bottom: 2.25em;

  .message-txt {
    text-align: center;
  }

  .buttons-row {
    padding: 1em 0;
    text-align: center;
  }

  .rounded-button {
    display: inline-block;
    margin: .25em;
  }

}
