@import '../../../scss/mixins';
@import '../../../scss/variables';

.page-selector {
  @include block-border-box;
  margin: 1.25em 0;
  overflow: hidden;
  padding: 1em 0 1em 2em;

  //@media screen {
  //  @media (min-width: $media-br-1) {
  //
  //  }
  //}

  &::after {
    clear: both;
  }

  ul {
    float: right;

    li {
      @include shadow-with-hover;
      font-size: .95em;
      display: inline-block;
      padding: .5em;
      color: $text-darker;
      cursor: pointer;
      border: 1px solid #E1E1E1;
      margin-right: .45em;

      @media screen {
        @media (min-width: $media-br-1) {
          padding: .5em 1em;
        }
      }

      &.active {
        background-color: $login-bar-bg;
        color: white;
      }
    }
  }

  span {
    //@include shadow-with-hover;
    font-size: .95em;
    //display: inline-block;
    padding: .5em;
    color: $text-darker;
    cursor: pointer;
    display: block;
    float: right;

  }
}
