@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.tab-panel {
  @include shadow-with-hover;
  display: none;
  width: 100%;
  padding: 2em;
  background-color: white;

  &.selected {
    display: block;

  }

}
