@import './scss/variables';
@import './scss/utils/fonts';
@import './scss/utils/material-shadows';
@import './scss/mixins';

@include custom-font-mixin-simplified('Jack Frost', 'jack_frost', $path-jack-frost);
@include custom-font-mixin-simplified('Elegant Icons', 'ElegantIcons', $path-elegant-icons);

@include custom-font-mixin('Montserrat', 'montserrat-light', 300, light, $path-montserrat);
@include custom-font-mixin('Montserrat', 'montserrat-regular', 400, normal, $path-montserrat);
@include custom-font-mixin('Montserrat', 'montserrat-bold', 700, bold, $path-montserrat);

*,
html,
body {
  @include set-to-zero;
  @include font-montserrat;
  box-sizing: border-box;

  a,
  button {
    text-decoration: none;
    &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
      border: 0;
    }
  }

}

.app {
  max-width: 2500px;
  margin: 0 auto;
}

.rounded-button {
  outline: 0;
  display: block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  padding: 1.2em 2.4em;
  font-size: .85em;
  letter-spacing: 2px;
  border-radius: 40px;

  &.white {
    color: white;
    border: 2px solid white;
  }

  &.white-inverted {
    color: white;
    background-color: $text-dark;
    box-shadow: 0 0 0 1px $text-dark;
    border: 2px solid white;
  }

  &.blue {
    color: $text-dark;
    border: 2px solid $text-dark;

    &[disabled] {
      cursor: not-allowed;
      background-color: $section-bg-color;
      border-color: $border-light;
      color: $border-light;
    }

  }
}

/////////////////////////////////////////////////////

.form-page {
  background-color: white;
  padding: 3em 15%;
}

.form-title {
  @include page-title;
  text-align: left;
}

.label-form {
  @include small-text;
  padding-bottom: 1em;
}

.text-input-form {
  @include text-inputs;
  width: 100%;
  margin-bottom: 1.15em;
}

.input-form {
  @include shadow-with-hover;
  background-color: $section-bg-color;
  padding: 1.5em 10% 5em 5%;
}

.form-subtitle {
  color: $text-dark;
  text-shadow: 0 0 3px white;
  font-weight: 400;
  font-size: .95em;
  padding: 2em 0;
}

////////////////////////////////////////////////

.table-page {
  background-color: $section-bg-color;
  padding: 3em 15%;
}

.item-list-table {
  @include shadow-with-hover;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  table-layout: fixed;

  tbody {
    tr {
      &:hover {
        background-color: $section-bg-color;
      }
    }
  }

  .table-button {
    //@include shadow-with-hover;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    //height: 2.25em;
    background-color: $header-bg;
    border: 1px solid #E1E1E1;
    color: white;
    padding: 6px 2em;
    font-weight: 700;
    font-size: .85em;
    margin: 0 6px;

    &.white {
      background-color: white;
      color: $login-bar-bg;
    }

  }

  .header-cell {
    @include header-cell-table;
  }

  .table-cell {
    @include regular-cell-table;

  }
}
