@import './scss/variables';
@import './scss/utils/fonts';
@import './scss/utils/material-shadows';
@import './scss/mixins';

@include custom-font-mixin-simplified('Jack Frost', 'jack_frost', $path-jack-frost);
@include custom-font-mixin-simplified('Elegant Icons', 'ElegantIcons', $path-elegant-icons);

@include custom-font-mixin('Montserrat', 'montserrat-light', 300, light, $path-montserrat);
@include custom-font-mixin('Montserrat', 'montserrat-regular', 400, normal, $path-montserrat);
@include custom-font-mixin('Montserrat', 'montserrat-bold', 700, bold, $path-montserrat);

*,
html,
body {
  @include set-to-zero;
  @include font-montserrat;
  box-sizing: border-box;
}

.app {
  max-width: 2500px;
  margin: 0 auto;
}

.app-login-bar {
  background-color: $login-bar-bg;
  color: white;
  width: 100%;
  padding: 1.2em 15%;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: right;

  .app-login-form {
    display: inline-block;
  }

  & input {
    letter-spacing: 1px;
    height: 2em;
    background-color: $login-inputs-bg;
    border: 1px solid rgba(255, 255, 255, .2);
    color: white;
    padding: .2em 4px;
    font-weight: 300;
    font-size: .75em;

    &[type='button'] {
      border: 0;
      background-color: transparent;
    }
  }
}

.app-header {
  background-color: #379CF9;
  padding: 2em 15%;
}

.app-navbar {
  width: 100%;
  overflow: hidden;

  &::after {
    clear: both;
  }
}

.app-title {
  @include font-jack-frost;
  color: white;
  font-size: .8em;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-top: .96em;
  display: block;
  float: left;
}

.menu-button {
  @include font-elegant-icons;
  display: none;
  float: left;
  //display: block;
  background-color: transparent;
  color: white;
  font-size: 1.25em;
  padding-top: .45em;

  &::after {
    content: '\62';
  }
}

.app-main-menu {
  display: block;
  float: right;
  list-style-type: none;

  .menu-item {
    color: white;
    display: inline-block;
    padding: .85em 2em;
    margin-right: 3px;
    font-weight: 300;
    font-size: .85em;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border-color: rgba(255, 255, 255, .2);
      background-color: rgba(255, 255, 255, .1);
      color: black;
    }
  }
}

.app-jumbotron {
  display: block;
  //background-color: yellow;
  padding: 4em 0;

  .big-title {
    @include font-montserrat;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 30pt;
    color: white;
  }

  .app-description {
    @include font-montserrat;
    text-align: center;
    width: 65%;
    letter-spacing: 1px;
    line-height: 2.1em;
    font-size: .75em;
    margin: 1em auto;
    padding: 1.5em 0;
    color: white;
  }

}

.rounded-button {
  display: block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  padding: 1.2em 2.4em;
  font-size: .85em;
  letter-spacing: 2px;
  border-radius: 40px;

  &.white {
    color: white;
    border: 2px solid white;
  }

  &.blue {
    color: $text-dark;
    border: 2px solid $text-dark;
  }
}

.app-content {
  width: 100%;
}


.services-section {
  background-color: $section-bg-color;
  padding: 3em 20%;
}

.services-title {
  @include font-montserrat;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;

  .blue {
    color: $text-alternate;
  }

  .white {
    color: $text-darker;
  }

  .description {
    color: $text-darker;
    display: inline-block;
    width: 100%;
    font-size: .55em;
  }
}

.services-panel {

  box-shadow: 0 4px 7px 2px rgba(150, 150, 150, .5);
  transition-duration: .3s;
  transition-property: box-shadow;
  display: inline-block;
  width: 28%;
  background-color: white;
  margin: 0 1.5em;

  &:hover {
    box-shadow: 0 4px 7px 2px rgba(180, 222, 253, .5);
  }

  &::before {
    margin: 2.6em auto 1.3em;
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    border: 2px solid $border-light;
    border-radius: 50%;
  }

  h3 {
    @include font-montserrat;
    font-weight: 300;
    color: $text-darker;
    font-size: 1.25em;
    text-align: center;
  }

  p {
    @include font-montserrat;
    color: $text-darker;
    padding: 2em 6%;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    font-size: .65em;
  }

}

.description-section {
  background-color: white;
  padding: 3em 15%;
}

.description-panel {
  display: inline-block;
  width: 50%;
  text-align: left;

  .rounded-button {
    margin: 0;
  }

  h2 {
    @include font-montserrat;
    font-weight: 400;
    letter-spacing: 3px;
    color: $text-darker;
    font-size: 1.5em;
  }

  p {
    @include font-montserrat;
    width: 60%;
    color: $text-darker;
    padding: 2em 0;
    letter-spacing: 2px;
    font-size: .65em;
    line-height: 200%;
    font-weight: normal;

    &:nth-of-type(1) {
      &::first-letter {
        font-weight: 700;
        font-size: 1.95em;
      }
    }
  }
}

//foooter
.footer-links {
  @include font-montserrat;
  font-size: .85em;
  background-color: $bottom-bg;
  padding: 2em 10%;
  overflow: hidden;
}

.links-div {
  @include set-to-zero;
  width: 20%;
  height: 100%;
  display: inline-block;
  margin: 0 2em;
}

.links-title {
  @include font-montserrat;
  font-weight: 400;
  font-size: 1.35em;
  color: white;
  padding-bottom: 1em;
}

.links-list {
  list-style-type: none;
  display: block;
  width: 95%;

  &.circles {
    overflow: hidden;
    width: 100%;

    &::after {
      clear: both;
    }

    li {
      @include set-to-zero;
      @include block-border-box;
      margin-left: .25em;
      float: left;
      width: 45px;
      height: 45px;
    }
  }

  li {
    display: block;
    width: 100%;
    font-size: 1.05em;
    padding: .75em 0;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: 300;

    &.link-circle {
      border: 1px solid white;
      border-radius: 50%;
      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: white;
        color: $bottom-bg;
      }
    }
  }
}

.footer-bottom {
  @include font-montserrat;
  font-size: .85em;
  background-color: $login-bar-bg;
  padding: 1.25em;
  text-align: center;
  color: white;
}
