@import 'variables';

@mixin set-to-zero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin block-border-box {
  box-sizing: border-box;
  display: block;
}

@mixin animation-mixin($duration, $name, $count) {
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
  animation-name: $name;
  animation-fill-mode: both;
  animation-iteration-count: $count;
}

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin font-jack-frost {
  font-family: 'Jack Frost', cursive;
}

@mixin font-elegant-icons {
  font-family: 'Elegant Icons', cursive;
}

@mixin shadow-box {
  box-shadow: 0 4px 7px 2px rgba(150, 150, 150, .5);
  transition-duration: .3s;
  transition-property: box-shadow;
}

@mixin shadow-with-hover {
  @include shadow-box;

  &:hover {
    box-shadow: 0 4px 7px 2px rgba(180, 222, 253, .5);
  }
}

@mixin shadow-with-focus {
  @include shadow-box;

  &:focus {
    box-shadow: 0 4px 7px 2px rgba(180, 222, 253, .5);
  }
}

@mixin page-title {
  @include font-montserrat;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;

  .blue {
    color: $text-alternate;
  }

  .white {
    color: $text-darker;
  }
}

@mixin small-text {
  color: $text-darker;
  display: block;
  width: 100%;
  padding: 1em 0;
  font-size: .55em;
}

@mixin text-inputs {
  @include shadow-with-focus;
  @include font-montserrat;
  outline: 0;
  color: $text-darker;
  font-size: .85em;
  padding: 1.25em .5em;
  font-weight: 400;
  margin: .5em 0;
}

@mixin error-inputs {
  @include font-montserrat;
  @include shadow-with-focus;
  box-sizing: border-box;
  color: $login-bar-bg;
  background-color: white;
  width: 100%;
  outline: 0;
  font-size: .85em;
  padding: 0 .5em;
  font-weight: 400;
  margin: .5em 0;
  text-align: left;


  &::before {
    display: inline;
    content: '\26A0';
    font-weight: bold;
    padding: 0 .25em 0 0;
    font-size: 2.75em;
    vertical-align: middle;
  }

  .error-txt {
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
