$path-fonts: 'fonts/';

$path-elegant-icons: '#{$path-fonts}elegant-icons/';
$path-montserrat: '#{$path-fonts}montserrat/';
$path-jack-frost: '#{$path-fonts}jack-frost/';

$login-bar-bg: #0082E5;
$login-inputs-bg: #0988E8;
$bottom-bg: #0790F9;
$text-dark: #0791F9;
$text-alternate: #3A9DF9;
$text-darker: #646464;
$section-bg-color: #F7F7F7;
$border-light: #B4DEFD;

$media-br-1: 768px;
$media-br-2: 992px;
$media-br-3: 1200px;
