$path-fonts: 'fonts/';

$path-elegant-icons: '#{$path-fonts}elegant-icons/';
$path-montserrat: '#{$path-fonts}montserrat/';
$path-jack-frost: '#{$path-fonts}jack-frost/';

$color1: #47AFFF;
$color2: #0082E5;
$color3: #3EA0EB;
$c4: #0F94FA;
$c5: #F7F7F7;
$c6: #068EF7;
$c7: #0791F9;
$c8: #379CF9;
$c9: #0082E5;
$c10: #0790F9;
$c11: #399DFA;
$c12: #666666;
$c13: #6D6D6C;


$media-br-1: 768px;
$media-br-2: 992px;
$media-br-3: 1200px;
