@import '../../../../scss/mixins';
@import '../../../../scss/variables';

//.tab-container {
//  @include shadow-with-hover;
//  background-color: white;
//}

.tab {

  display: inline-block;
  height: 45px;
  background-color: $header-bg;
  color: white;
  border: 1px solid $login-bar-bg;
  margin-right: 3px;
  vertical-align: middle;
  line-height: 45px;
  padding: 0 15px;
  text-decoration: none;
  font-weight: 300;
  font-size: .85em;
  cursor: pointer;

  &:hover {
    background-color: $bottom-bg;
  }

  &.selected {
    background-color: white;
    color: $text-darker;
    border: 1px solid lightgray;
    border-bottom: 1px solid transparent;
  }

}
