@import '../../scss/mixins';
@import '../../scss/variables';

.screen-msg {
  background-color: rgba(225, 216, 237, 0.31);
  //background-color: transparent;
  z-index: 100;
  display: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  .full-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 101;
    background-color: transparent;
  }

  .message {
    @include shadow-with-hover;
    position: absolute;
    z-index: 102;
    width: 30%;
    background-color: white;
    top: 50%;
    left: 50%;
    border: 1px solid #E1E1E1;
    transform: translate(-50%, -50%);
  }

  .message-label {
    @include block-border-box;
    background-color: $header-bg;
    width: 100%;
    height: 100%;
    padding: .85em .8em;
    color: white;
    font-weight: 300;
    font-size: .85em;
    letter-spacing: 1px;
  }

  .rounded-button {
    display: inline-block;
    margin: .25em;
  }

  .buttons-row {
    padding: 1em 0;
    text-align: center;
  }

  .message-txt {
    padding: 2em;
    text-align: justify;
    line-height: 170%;
    font-size: .75em;
  }

  .message-button {
    display: inline-block;
    margin: .25em;
    padding: .85em 2em;
    color: white;
    font-weight: 300;
    font-size: .85em;
    background-color: $header-bg;
  }


  &.visible {
    display: block;
    visibility: visible;
  }
}
